<!DOCTYPE html>
<html>
<head>
  <title>Video Downloader</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<style type="text/css">
.pad {
  padding: 50px;
}
</style>
</head>

<body>
  <div class="container pad">
    <div class="row">
      <div class="column">
        <h1>Lued e Video erof...</h1>
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>
